<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--    <link -->
<!--            rel="stylesheet"-->
<!--            href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"-->
<!--    />-->
    <link href="/css/style.css" rel="stylesheet" />
    <title>Homepage</title>
  </head>

  <body>
    <div class="header">
      <a class="logoBtn" role="button" href="/">Not Reddit</a>
      <div class="navbar">
        <a role="button" href="/">Home</a>
        <a role="button" href="/subs/list">Subs</a>
        <% if (!user) { %>
          <a role="button" href="/auth/login">Login</a>
        <% } else { %>
          <a role="button" href="/auth/logout">Logout</a>
        <% } %>
        <a role="button" href="/auth/signUp">Sign Up</a>
      </div>
    </div>

    <main>
      <h1>Homepage</h1>
      <h3>Welcome, <%= user?.uname || "Visitor" %></h3>

      <div>
        <div style="display: flex; align-items: baseline">
          <p>All Posts</p>
          <% if (user) { %>
            <a style="margin-left: auto" role="button" href="/posts/create">Create Post</a>
          <% } %>
        </div>

        <div class="postList">
          <% posts.forEach(post => { %>
          <article class="postListing">
            <h3><a href="/posts/show/<%=post.id%>"><%= post.title %></a></h3>
            <p><%= post.description %></p>
            <p style="color: grey; margin: 0;"><%= users[post.creator -1].uname%>
          </article>
          <% }) %>
        </div>
      </div>
    </main>
  </body>
</html>
