<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--    <link -->
<!--            rel="stylesheet"-->
<!--            href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"-->
<!--    />-->
    <link href="/css/style.css" rel="stylesheet" />
    <title>Homepage</title>
  </head>

  <body>
    <div class="header">
      <a class="logoBtn" role="button" href="/">Not Reddit</a>
      <div class="navbar">
        <a role="button" href="/">Home</a>
        <a role="button" href="/subs/list">Subs</a>
        <% if (!user) { %>
          <a role="button" href="/auth/login">Login</a>
        <% } else { %>
          <a role="button" href="/auth/logout">Logout</a>
        <% } %>
        <a role="button" href="/auth/signUp">Sign Up</a>
      </div>
    </div>

    <main>
      <p class="title">Homepage</p>
      <p class="subtitle">Welcome, <%= user?.uname || "Visitor" %></p>
      <p class="article-title">All Posts</p>
      <section>
        <% if (user) { %>
          <a style="margin-left: auto" role="button" href="/posts/create">Create Post</a>
        <% } %>

        <div class="postList">
          <% posts.forEach(post => { %>
          <article class="postListing">
            <p ><a class="post__title" href="/posts/show/<%=post.id%>"><%= post.title %></a></p>
            <p class="post__desc"><%= post.description %></p>
            <p class="post__author"><%= users[post.creator -1].uname%>
          </article>
          <% }) %>
        </div>
      </section>

    </main>
  </body>
</html>
